*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

body {
    font-family: Arial;
    margin: 30px;
    /* background-image: url(/img/Audifonos\ Beats\ Studio\ Rojo.jpg); */
    border: 10px solid rgb(75, 119, 4);
    border-radius: 0.8em;
    background-color: turquoise;
}

/*      Selector Id      */
#encabezado {
    background-color: rgb(65, 142, 214);
    padding: 25px;
    text-align: center;
    font-size: 30px;
}

#menu {
    background-color: #515151;
    /* padding: 15px; */
}

#fuera-pagina {
    background-color: darkkhaki;
}

#seccion {
    background-color: blanchedalmond;
}

#pie {
    text-align: center;
    background-color: yellow;
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
}

/*      Selector clases      */

/* MenÃº */
.contenido-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenido-menu a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.contenido-menu a:hover {
    background-color: hotpink;
}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    font-size: 20px;
}

.Titulo-secundario {
    padding: 7px;
    font-size: 29px;
    padding-top: 20px;
}

/* Aside */

aside{
    flex: 18%;
    padding: 20px;
}

.contenido-fuera-pagina img {
    width: 100px;
    height: 100px;
    margin: 20px;
}


/* Seccion */
section {
    flex: 82%;
    background-color: blanchedalmond;

}

.contenido-seccion p{
    text-align: justify;
    font-size: 25px;
    padding: 15px;
}

.contenido-seccion img {
    width: 250px;
    height: 180px;
    margin: 50px;
}

.contenido-seccion-imagenes center {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.contenido-seccion-img {
    margin: 70px;
    width: 180px;
    height: 180px;
    border: 10px solid #000000;
    border-radius: 2em;
    background-color: #e8ff19;
    cursor: pointer;
}

.contenido-seccion-img:hover {
    background-color: aqua;
}

/* Formulario */
.formulario {
    width: min( 50em, 100% );
    margin: 2em auto;
    border: 10px solid gold;
    border-radius: 0.8em;
    
}

.contenedor-campos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: coral;
    padding: 2em;
}

.contenedor-campos .campos {
    text-align: center;
    margin: 1em;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}

.cajatxt  {
    height: 28px;
    width: 100%;
    padding-left: 10px;
    border: 2px solid rgb(175, 89, 31);
    border-radius: 1em;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.boton {
    height: 40px;
    width: 180px;
    margin: 10px;
    background-color: #fad42a;
}

.boton:hover {
    transition: 0.2s;
    cursor: pointer;
    color: white;
    background-color: hotpink;
}

.contenido-seccion-imagenes .precios{
    font-size: 20px;
    margin-top: -62px;
}

.btnComprar {
    width: 80px;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(255, 181, 43);
}

.btnComprar:hover {
    transition: 0.1s;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: hotpink;
}

#lista {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    background-color: aqua;
    width: 1200PX;
    padding-left: 10PX;
    text-align: justify;
}

.botones {
    margin: 0.2em;
    padding: 6px;
    background-color: wheat;
    cursor: pointer;
    font-weight: bold;
}

.botones:hover {
    transition: 0.1s;
    background-color: orchid;
    color: white;
    font-weight: bold;
}

.contenedor-campos .camposBotones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    margin: 1em;
    width: 80%;
    font-size: 40px;
    font-weight: bold;
}


.camposProductos {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.camposProductos img{
    display: flex;
    margin: 40px;
    width: 140px;
    height: 140px;
    border: 6px solid #000000;
    border-radius: 1em;
    background-color: #e8ff19;
}
.camposProductos img:hover{
    background-color: hotpink;
    cursor: pointer;
}


@media screen and (max-width: 1048px) {

    .contenido-seccion-img {
        margin: 40px;
        width: 180px;
        height: 180px;
        border: 10px solid #000000;
        border-radius: 2em;
        background-color: #e8ff19
    }

    .contenido-seccion-imagenes .precios {
        margin-top: -38px;
        font-size: 19px;
    }
}

@media screen and (max-width: 868px) {
    .contenido-seccion-img {
        margin: 30px;
        width: 180px;
        height: 180px;
        border: 10px solid #000000;
        border-radius: 2em;
        background-color: #e8ff19
    }

    #formulario {
        width: min( 35em, 90% );
        margin: 2em auto;
        border: 10px solid gold;
        border-radius: 0.8em;
        
    }

    .contenido-seccion-imagenes .precios {
        margin-top: -27px;
        font-size: 16px;
    }
}

@media screen and (max-width: 808px) {
    .contenido-seccion-img {
        margin: 25px;
        width: 120px;
        height: 120px;
        border: 10px solid #000000;
        border-radius: 2em;
        background-color: #e8ff19
    }

    .contenido-seccion-imagenes .precios {
        margin-top: -25px;
        margin-right: 20px;
        font-size: 13px;
    }
}

@media screen and (max-width: 636px) {
    .contenido-seccion-imagenes .precios {
        margin-top: -22px;
        margin-right: 18px;
        font-size: 12px;
    }
    .btnComprar {
        text-align: center;
        width: 70px;
        height: 25px;
        margin-top: 5px;
        background-color: rgb(255, 181, 43);
    }
}

@media screen and (max-width: 622px) {
    .botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 614px) {
    #encabezado {
        font-size: 20px;
    }

    .contenido-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .contenido-menu a {
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 20px;
    }
    
    .contenido-menu a:hover {
        background-color: hotpink;
    }

    .contenido-fuera-pagina img {
        width: 70px;
        height: 70px;
        margin: 10px;
    }

    .Titulo-secundario {
        font-size: 20px;
        padding-top: 20px;
    }

    .contenido-seccion p{
        font-size: 17px;
        padding: 18px;
    }

    .contenido-seccion img {
        width: 130px;
        height: 90px;
        margin: 20px;
    }

    #pie {
        text-align: center;
        background-color: greenyellow;
        padding: 15px;
        font-size: 12px;
        font-weight: bold;
    }

    
}


@media screen and (max-width: 598px) {
    .contenido-seccion-img {
        margin: 15px;
        width: 100px;
        height: 100px;
        border: 10px solid #000000;
        border-radius: 2em;
        background-color: #e8ff19
    }

    .contenido-seccion-imagenes .precios {
        margin-top: -15px;
        font-size: 9px;
    }

}

@media screen and (max-width: 479px) {
    .contenido-seccion-img {
        margin: 6px
    }
    .contenido-seccion-imagenes .precios {
        margin-top: -7px;
        margin-right: 5px;
        font-size: 8px;
    }
}

@media screen and (max-width: 424px) {

    #encabezado {
        font-size: 15px;
    }
    
    .contenido-fuera-pagina img {
        width: 50px;
        height: 50px;
        margin: 9px;
    }

    .contenido-seccion-img {
        display: flex;
        margin: 20px;
        width: 180px;
        height: 150px;
    }
    #formulario {
        width: min( 35em, 80% );
        margin: 2em auto;
        border: 10px solid gold;
        border-radius: 0.8em;
        
    }

    .contenido-seccion-imagenes .precios {
        margin-top: -15px;
        font-size: 18px;
    }

    .btnComprar {
        width: 90px;
        height: 40px;
        margin-top: 5px;
        background-color: rgb(255, 181, 43);
    }
    
}

@media screen and (max-width: 336px) {
    .contenido-fuera-pagina img {
        width: 70px;
        height: 70px;
        margin: 17px;
    }
    #formulario {
        width: min( 35em, 80% );
        margin: 2em auto;
        border: 10px solid gold;
        border-radius: 0.8em;
        
    }
    
    label {
        font-size: 15px;
    }

    .contenedor-campos {
        padding: 5px;
    }
    .cajatxt {
        width: 100%;
    }

    .boton {
        width: 80px;
        font-size: 10px;
        font-weight: bold;
    }

    .contenido-seccion-imagenes .precios {
        margin-top: -15px;
        font-size: 14px;
    }
}

@media screen and (max-width: 280px) {
    .contenido-seccion p{
        font-size: 12px;
        padding: 10px;
    }

    .contenido-seccion img {
        width: 80px;
        height: 70px;
        margin: 20px;
    }
    #encabezado {
        font-size: 10px;
    }

    #formulario {
        width: min( 35em, 80% );
        margin: 2em auto;
        border: 10px solid gold;
        border-radius: 0.8em;
        
    }
    
    label {
        font-size: 15px;
    }

    .contenedor-campos {
        padding: 5px;
    }
    .cajatxt {
        width: 100%;
    }

    .boton {
        width: 80px;
        font-size: 10px;
        font-weight: bold;
    }
}
