.flex-container{
    display: flex;
    flex-wrap: wrap;
    
    flex-basis: 100% 3em;

}

.flex-container2{
    display: flex;
    flex-wrap: wrap;
    
    flex-basis: 100% 3em;
    justify-content:flex-start;
}

.encabezado {
    display: flex;
    
    flex-basis: 100% 3em;
    background-color: cornflowerblue;
    text-align: center;
    justify-content:space-around;
}

.navegacion {
    
    background-color: blueviolet;
    flex-basis: 100% 3em;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}

.navegacion a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: large;
}
.cuerpo{
    
    padding: 30px;
    background-color: blanchedalmond;
    text-align: center;
    flex-basis:  100%;
}
.cuerpo2{
    
    padding: 30px;
    background-color: blanchedalmond;
    
    flex-basis: 40em 100%;
}


.titulo{
    display: flex;
    flex-basis: 10em;
    justify-content:space-around;
    color: darkgreen;
}
.p1{
    margin-top: 80px;
    font-size: x-large;
    text-align: justify;
    
}

.pie{
    display: flex;
    justify-content:space-around;
    flex-basis: 1em;
    background-color: yellow;
    font-size: medium;
    height: 4em;
    
}


.Fotos{
    display: inline-block;
    margin-left: 1em;
    
    

}

.h3{
    
    display: flex;
    flex-flow: row wrap;
}

h2{
   text-align: center; 
   
}
.h1{
    display: flex;
    flex-basis: 100%;
    text-align: left;
    
}


img{
    display: flex;
    
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: 50px;
}
p{
    text-align: center;
}

@media(max-width:900px){
    img{
    align-items: center;
    width: 70px;
    height: 70px;
    
    border-radius: 4px;
    }

    .h1{
        flex-basis: 100%;
    }  
    .cuerpo{
      flex-basis: 100%;  
        
    }
    .cuerpo2{
        flex-basis: 100%;
    }
    .pie{
        flex-basis: 100%; 
    }
    .p1{
        font-size: medium;
    }
}

@media(max-width:300px){
    img{
        align-items: center;
        width: 10px;
        height: 10px;
    }
    .cuerpo{
        padding: 75px;
    }.cuerpo2{
        padding: 75px;  
        
    }
    .p1{
        font-size: 15px;
    }
    .encabezado{
        flex-basis: 100%;
        padding: 110px;
    }
    .navegacion{
        flex-basis: 100%;
        padding: 110px;
    }
    .titulo{
        font-size: smaller;
    }
    .h1{
        font-size: larger;
    }
    .navegacion{
        flex-basis: 100%;
    }
    .pie{
        padding: auto;
        flex-basis: 100%; 
    }
}
@media(max-width:135px){
    img{
        
        width: 10px;
        height: 10px;
    }

    .encabezado{
        font-size: x-small;
        flex-basis: 100%;
    }
    .h1{
        font-size: x-large;
    }
    .cuerpo2{
        padding: 110px;
        
    }
    .titulo{
        font-size: x-small;
    }
    .h1{
        font-size: x-small;
    }
    .navegacion{
        flex-basis: 100%;
        padding: 110px;
    }
    .pie{
        height: auto;
        flex-basis: 100%;
        
        padding: 110px; 
    }
    .texto{
        
        font-size: larger;
    }
}