*{
    margin: 0;
    padding: 0;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


#encabezado{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    
    height: 5%;
}
#navegacion{
    background-color: blueviolet;
    height: 3%;
    text-align: center;
    color: aliceblue;
    padding-top: 1em;
}
#contenido{
    background-color: aquamarine;
    height: 60%;
}
#pie{
    background-color: yellow;
    height: 7%;
    text-align: center;
    padding-top: 4em;
}
section{
    background-color: blanchedalmond;
}
.fotos{
    padding: 20px;
    padding-bottom: 0;
    height: 150px;
    width: 150px;
}
.tituloC{
    text-align: center;
    padding-top:  10px;
}
a{
    color: aliceblue;
}
/*Al seleccionar un click que cambie de color*/
a:hover{
    background-color: beige;
}
